body, html {
    color: black;
    height: 100%;
    background: linear-gradient(#b859b07a, #3194ce7e, #6bce317e), url("../images/gray-grundge-texture-1024x768.jpg") no-repeat center; 
    background-size: cover;
}

.crystal-image {
    width: 200px;
    height: 200px;
}

@font-face {
    font-family: Cavier Dreams;
    src: url(CaviarDreamsBold.ttf);
}
    
@font-face {   
    font-family: Amethyst;
    src: url(Amethyst.ttf)
}
#trackwin, #trackloss {
    font-family: Amethyst;
}

#instructions {
    font-family: Cavier Dreams;
    text-align: center;
}

.btn{
    font-family: Cavier Dreams;
}
  
h1, h2 {
    font-family: Amethyst;
    text-align: center;
}



